#login{
  min-height: 100vh;
  width: 100%;
  .main-col-1{
    padding: 4em;
    background-color: #135dcc;
    .main-col-1-title{
      color: whitesmoke;
    }
    .main-col-1-carousel{
      .main-col-1-carousel-content{
        color: #fff;
        padding: 0 5em;
        line-height: 30;
        text-align: center;
      }
    }
  }

  .main-col-2{
    padding: 1em;
    .main-col-2-title{
      font-weight: 500;
      margin: 0.7em 0;
      color: #000000;
    }
    .main-col-2-text{
      font-weight: 500;
      font-size: 1.2em;
    }
    .main-col-2-title-1{
      color: #000;
      cursor: pointer;
      margin-bottom: 1em;
    }
    .main-col-2-title-2{
      color: #2b70d6;
      cursor: pointer;
      margin-bottom: 1em;
    }
    .main-col-2-btn{
      margin-top: 1.3em;
    }
    .main-col-2-space{
      width: 100%;
      margin-bottom: -1.5em;
    }
  }
}