#parent-header{
  background-color: #fff;

  #head-timer{
    .btn{
      background-color: #eaf1fb;
    }
    .icon{
      color: #2b70d6;
    }
    .text{
      font-weight: 600;
      color:#2b70d6;
    }
  }

  #head-activity{
    .btn{
      background-color: #eaf1fb;
    }
    .icon{
      color: #2b70d6;
    }
    .text{
      font-weight: 600;
      color:#2b70d6;
    }
  }

  #head-drawer{
    .bell{
      font-size: 1.8em;
    }
  }

  #head-help{
    :hover{
      background-color: #fff;
    }
    .icon{
      color: #8c8989;
    }
  }
}