  #sorter{
    width: 12em;
    line-height: 2em;
    .typo-text:hover {
      color: #228B22;
      transition: 0.3s;
    }
    .down, .upward{
      cursor: pointer;
      color: #000;
    }
    .upward:hover, .down:hover {
      color: #228B22;
      transition: 0.3s;
    }
  }

  #personal-contact-form{
    .PhoneInputInput{
      flex: 1;
      min-width: 0;
      border-radius: 8px;
      padding: 4px 11px;
      font-size: 16px;
      line-height: 1.5;
    }
  }  

  #spouse-contact-form{
    .PhoneInputInput{
      flex: 1;
      min-width: 0;
      border-radius: 8px;
      padding: 4px 11px;
      font-size: 16px;
      line-height: 1.5;
    }
  }